### Maven ###
target/

### Java ###
*.class

# Package Files #
*.jar
*.war
*.ear

# Intellij IDEA project files
.idea/
*.iml
*.iws

### Eclipse ###
*.pydevproject
.project
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# folder to ignore
interim/*
results/*
Logs/*
interimA.txt
bin/*.pyc


